<header>
    <nav>
        <a href="/">FilmLibrary</a>
        <ul>
            <li><a href="/directors">All Directors</a></li>
            <li><a href="/directors/new">Add Director</a></li>
            <li><a href="/films">All Films</a></li>
            <li><a href="/films/new">Add Film</a></li>
        </ul>
    </nav>
</header>